spring:
  application:
    name: PageByFeel_BE
  profiles:
    active: ${SPRING_PROFILES_ACTIVE:dev}
  web:
    resources:
      add-mappings: true

server:
  port: 8080
  servlet:
    context-path: /api

app:
  oauth2:
    authorized-redirect-uri: ${OAUTH2_REDIRECT_URI}

springdoc:
  swagger-ui:
    enabled: true
    path: /swagger-ui.html
    tags-sorter: alpha
    operations-sorter: alpha
  api-docs:
    path: /v3/api-docs
  default-consumes-media-type: application/json

logging:
  level:
    org.springframework.web.servlet.resource: WARN
    org.springframework.web.servlet.mvc.method.annotation.ExceptionHandlerExceptionResolver: WARN