spring:
  application:
    name: PageByFeel_BE
  profiles:
    active: dev

server:
  port: 8080
  servlet:
    context-path: /api

# OAuth2 설정
app:
  oauth2:
    authorized-redirect-uri: ${OAUTH2_REDIRECT_URI:/oauth2/redirect}

springdoc:
  swagger-ui:
    enabled: true
    path: /swagger-ui.html
    tags-sorter: alpha
    operations-sorter: alpha
  api-docs:
    path: /v3/api-docs
  default-consumes-media-type: application/json